In [46]:
# Set preprocessing parameters

b = 0.5 # Bin size for insulin and food history vectors, in hours
d = 3   # Total duration of insulin and food history vectors. 
        # Impact of data longer than d hours ago should not continue to change.
    
segmentDays = 30 # how long a segment of data to use for inference at all, in days
segment = 5      # which segment of to use, starting at 1 for first segment.

sequenceLength = 10 # how many glucose measurements to bin into one sequence

In [64]:
# Read in the data

import pandas
import datetime

dfFull = pandas.read_csv('./data/mdi.csv')
dfFull = dfFull.reindex(index=dfFull.index[::-1]) # order earliest - latest
dfFull

,CorrectTimestamp,Glucose,Meal,MealCarbs,Humalog,Lantus,WhatEating,Notes
1971,10/19/16 19:50,385.0,NaN,NaN,1.00,2.0,NaN,NaN
1970,10/20/16 2:00,366.0,NaN,NaN,NaN,NaN,NaN,NaN
1969,10/20/16 6:46,338.0,NaN,NaN,NaN,NaN,NaN,NaN
1968,10/20/16 8:40,263.0,Breakfast,NaN,1.00,NaN,NaN,NaN
1967,10/20/16 12:50,295.0,Lunch,NaN,1.50,NaN,NaN,NaN
1966,10/20/16 15:40,534.0,Snack,NaN,2.00,NaN,NaN,NaN
1965,10/20/16 18:40,344.0,Dinner,48.0,1.50,NaN,NaN,NaN
1964,10/20/16 20:00,NaN,NaN,NaN,NaN,2.0,NaN,NaN
1963,10/21/16 2:00,385.0,NaN,NaN,1.00,NaN,NaN,NaN
1962,10/21/16 8:10,299.0,Breakfast,51.0,1.00,NaN,NaN,NaN
1961,10/21/16 16:00,196.0,Snack,32.0,0.50,NaN,"1 C milk, 33 cheetos",NaN
1960,10/21/16 19:19,279.0,Dinner,104.0,2.00,NaN,NaN,NaN
1959,10/21/16 20:00,NaN,NaN,NaN,NaN,2.0,NaN,NaN
1958,10/22/16 2:35,300.0,NaN,NaN,0.50,NaN,NaN,NaN
1957,10/22/16 8:45,218.0,Breakfast,57.0,1.00,NaN,NaN,NaN
1956,10/22/16 12:01,351.0,Lunch,39.0,1.50,NaN,NaN,NaN
1955,10/22/16 15:20,248.0,Snack,34.0,1.00,NaN,NaN,NaN
1954,10/22/16 19:00,234.0,Dinner,74.0,1.50,NaN,NaN,NaN
1953,10/22/16 20:25,NaN,NaN,NaN,NaN,3.0,NaN,NaN
1952,10/23/16 2:15,267.0,NaN,NaN,0.50,NaN,NaN,NaN
1951,10/23/16 9:25,237.0,Breakfast,50.0,1.00,NaN,"milk, applesauce, pancakes, eggs",NaN
1950,10/23/16 12:30,418.0,Lunch,72.0,2.50,NaN,NaN,NaN
1949,10/23/16 14:10,229.0,Exercise snack,14.0,NaN,NaN,goldfish,NaN
1948,10/23/16 15:20,284.0,NaN,NaN,NaN,NaN,NaN,NaN
1947,10/23/16 16:15,345.0,Snack,22.0,1.50,NaN,NaN,NaN
1946,10/23/16 19:25,250.0,Dinner,56.0,1.50,NaN,NaN,NaN
1945,10/23/16 20:30,NaN,NaN,NaN,NaN,3.0,NaN,NaN
1944,10/24/16 2:05,222.0,NaN,NaN,NaN,NaN,NaN,NaN
1943,10/24/16 8:05,178.0,Breakfast,37.0,0.50,NaN,"eggs, milk, pancakes",NaN
1942,10/24/16 11:45,303.0,Lunch,65.0,1.50,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
29,8/5/17 13:14,81.0,NaN,NaN,NaN,NaN,NaN,NaN
28,8/5/17 16:15,224.0,Afternoon snack,22.0,1.50,NaN,"Coconut rice, tiny bit candy because I am big ...",NaN
27,8/5/17 19:30,91.0,Dinner,60.0,1.50,8.0,Rice blueberries peanuts carrots milk,Lower lantus due to active day and planned act...
26,8/6/17 5:11,207.0,NaN,NaN,1.00,NaN,NaN,NaN
25,8/6/17 7:28,103.0,Breakfast,23.0,1.00,NaN,Apple chia pudding yogurt eggs,Slightly less insulin due to iob
24,8/6/17 12:42,158.0,NaN,NaN,0.50,NaN,NaN,NaN
23,8/6/17 13:28,151.0,Lunch,61.0,2.00,NaN,"Edamame ravioli, cucumber, carrots, chia pudding",NaN
22,8/6/17 17:34,178.0,Afternoon snack,15.0,1.00,NaN,"Watermelon, triscuit",NaN
21,8/6/17 17:49,NaN,NaN,15.0,0.50,NaN,Watermelon,NaN
20,8/6/17 19:43,93.0,Dinner,22.0,0.50,8.0,Popcorn peanuts cheese nutrition bar bite,NaN
19,8/6/17 21:07,56.0,Sugar to treat,14.0,NaN,NaN,8g glucose and 2 triscuits,NaN
18,8/7/17 7:34,227.0,Breakfast,9.0,1.50,NaN,"Chia pudding, blueberries, eggs, yogurt",NaN
17,8/7/17 12:14,96.0,Lunch,31.0,1.00,NaN,Grilled cheese strawberries green beans water,NaN
16,8/7/17 16:59,63.0,Sugar to treat,6.0,NaN,NaN,NaN,NaN
15,8/7/17 17:07,51.0,Sugar to treat,8.0,NaN,NaN,NaN,NaN
14,8/7/17 17:16,63.0,Sugar to treat,2.0,NaN,NaN,NaN,"Coming up but slowly, so 2 extra before we hea..."
13,8/7/17 17:32,143.0,NaN,NaN,NaN,NaN,NaN,NaN
12,8/7/17 19:30,93.0,Dinner,50.0,1.00,NaN,"cheese & crackers, tofu, milk, green beans, ho...",extra carbs because falling & recent lows
11,8/7/17 20:10,NaN,NaN,NaN,NaN,8.0,NaN,NaN
10,8/7/17 22:53,316.0,NaN,NaN,1.00,NaN,NaN,"Coming down a bit already on cgm, underdosing"
9,8/8/17 3:44,312.0,NaN,NaN,1.50,NaN,NaN,NaN
8,8/8/17 7:42,221.0,Breakfast,20.0,2.00,NaN,Chia pudding yogurt eggs blueberries,NaN
7,8/8/17 12:01,105.0,NaN,NaN,NaN,NaN,NaN,NaN
6,8/8/17 14:05,76.0,Lunch,46.0,1.50,NaN,"Wwpretzel,tortilla,carrot,greenbean,strawberry...",NaN
5,8/8/17 18:53,NaN,Exercise snack,6.0,NaN,NaN,2 triscuits,NaN
4,8/8/17 19:22,105.0,Exercise snack,6.0,NaN,NaN,2 triscuits,NaN
3,8/8/17 20:00,137.0,Dinner,72.0,2.00,8.0,"Peanut chickpea dish, green beans, blueberries...",NaN
2,8/8/17 22:07,111.0,Other,11.0,NaN,NaN,Bread and cc,NaN
1,8/9/17 6:30,162.0,Breakfast,10.0,1.00,NaN,Chia eggs blueberries,NaN
0,8/9/17 9:33,224.0,NaN,NaN,0.99,NaN,NaN,First pump insulin bolus!

In [82]:
# Pick out data from a particular segment to use, and get time in hours

timestamps = dfFull['CorrectTimestamp']
df = dfFull.copy()
df['Time'] = [datetime.datetime.strptime(t, "%m/%d/%y %H:%M") for t in timestamps] # datetime object times

startDate = min(times) + datetime.timedelta(segmentDays * (month - 1))
endDate   = min(times) + datetime.timedelta(segmentDays * month)

df = df[df['Time'].between(startDate, endDate)]

df['Hour'] = [t.timestamp()/3600 for t in df['Time']]
df['Hour'] = df['Hour'] - min(df['Hour'])

'Using {} data points between {} and {}'.format(df.shape[0], startDate.strftime('%Y-%m-%d'), endDate.strftime('%Y-%m-%d'))

'Using 195 data points between 2017-02-16 and 2017-03-18'

For each GLUCOSE measurement we need to obtain:
* Humalog vector: "New injection info" - include only since last glucose measurement (including this timepoint). Binned: [0-b, 1-2b, 2-3b, ... (D-b)-D, D+]. 
* Carbs vector: "New carbs info" - include only since last glucose measurement (including this timepoint), as for Humalog.
* delT: time since last glucose measurement, in hours.
* Current basal rate: approximate as most recent Lantus dose.

In [79]:
newInsulinEntries = [] # List of insulin since last BG measurement, each in form (timeInHours, insulinUnits)
newCarbEntries = [] # List of carbs since last BG measurement, each in form (timeInHours, carbGrams)
lastTime = 0
lastLantus = 0

for (index, row) in df.iterrows(): # Loop through data entries. For each entry...
    if pandas.notna(row['Lantus']): # Store most recent Lantus dose
        lastLantus = row['Lantus']
    if pandas.notna(row['Glucose']): # If glucose is recorded,
        print(row['Glucose'])        
        # TODO: Use list of insulin (and current value) to construct insulin vector
        
        # TODO: Use list of carbs (and current value) to construct carb vector
        
        # Get time since last glucose measurement, in hours
        delT = row['Hour'] - lastTime
        
        # TODO: Create a row with delT, glucose, insulin, carbs, basal=lastLantus
        
        # Clear the lists of new insulin & carbs, and set last T to this T
        newInsulinEntries = []
        newCarbEntries = []
        lastTime = row['Hour']
    else: # Otherwise, add (T, H) and/or (T, C) to list of current insulin and/or carbs.
        if pandas.notna(row['Humalog']):
            newInsulinEntries.append((row['Hour'], row['Humalog']))
        if pandas.notna(row['MealCarbs']):
            newCarbEntries.append((row['Hour'], row['MealCarbs']))
        print('No glucose measurement')

94.0
76.0
89.0
199.0
166.0
209.0
87.0
93.0
123.0
2.5
NA
61.0
105.0
162.0
162.0
185.0
158.0
131.0
152.0
144.0
NA
245.0
355.0
232.0
239.0
313.0
168.0
171.0
139.0
95.0
104.0
321.0
122.0
114.0
297.0
343.0
80.0
81.0
83.0
115.0
151.0
160.0
206.0
211.0
201.0
NA
188.0
167.0
103.0
169.0
357.0
77.0
2.5
NA
129.0
155.0
269.0
250.0
257.0
96.0
164.0
195.0
151.0
169.0
179.0
175.0
66.0
2.5
107.0
107.0
68.0
100.0
147.0
121.0
183.0
86.0
2.5
97.0
115.0
101.0
157.0
167.0
2.5
NA
232.0
237.0
335.0
2.5
167.0
182.0
184.0
334.0
170.0
2.5
237.0
258.0
244.0
207.0
316.0
2.5
162.0
67.0
100.0
186.0
201.0
291.0
145.0
2.5
NA
220.0
71.0
95.0
295.0
2.5
NA
72.0
82.0
74.0
105.0
127.0
376.0
246.0
2.5
NA
56.0
102.0
115.0
217.0
227.0
55.0
105.0
92.0
2.5
NA
125.0
165.0
175.0
59.0
101.0
2.5
83.0
119.0
202.0
2.5
219.0
272.0
165.0
206.0
56.0
114.0
64.0
90.0
155.0
295.0
2.5
NA
116.0
301.0
116.0
176.0
2.5
192.0
NA
60.0
302.0
139.0
127.0
2.5
263.0
365.0
307.0
72.0
2.5
252.0
302.0
182.0
2.5
458.0
141.0
289.0
177.0
2.5
219.0
281.0
155.0
349.0
2.5
84.0
304.0
307.0
334.0
127.0
185.0
366.0
465.0
3.0
NA
187.0
243.0
280.0
346.0
3.0
70.0
107.0
272.0
432.0
135.0
106.0
143.0
117.0
69.0
111.0
3.0
NA
280.0
172.0
215.0
44.0
123.0

Then we need to group the data together into sequences. 

Collect rows 1-s, 2-(s+1), ... and gather each set into a new row, with appropriate labels.
Truncate sequences where there's longer than a 12-hour gap in measurement.
Output a spreadsheet.